@import "tailwindcss";
@import "tailwindcss";


body{
    background-image: url('/back.jpg');
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;

}
#abcs{
    background: linear-gradient(rgb(255, 0, 0), #b64848,rgb(216, 189, 11), #f0f35b);
    border: 2px solid black;
}
#font-style{

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #000000;

}